.showtimes-list {
    flex: none;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .showtime-card {
    width: 500px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px #d1c4e9;
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 8px;
  }

  .showtime-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .showtime-btn {
    background: #616161;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .showtime-btn:hover {
    background: #7c4dff;
  }

  .showtime-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 8px;
  }

  .showtime-title {
    font-size: 18px;
    line-height: 150%;
  }

  .filmora-logo {
    width: 120px;
    margin-bottom: 8px;
  }
  
  
  .calendar-section {
    border-radius: 12px;
  }