 *{
    margin: 0 ;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0; }  

    html, body {
        overflow-x: hidden;
    }

body {
    background: #F5EFFF;
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, a:visited, a:active, a:focus, .section-header a, .theater-title, .footer a, .nav-menu a, .choose-other-cinema-btn, .choose-other-movie-btn {
  text-decoration: none !important;
  cursor: pointer !important;
  outline: none !important;
  box-shadow: none !important;
}

button, .button, [type="button"], [type="submit"] {
  cursor: pointer !important;
}

/* Section-header */
.section-header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 270px;
  font-size: 25px;
  color: #7F6DF8;
  font-weight: bold;
  background: #fff;
  border: 2px solid #7F6DF8;
  z-index: 2; 
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.section-header a {
  text-decoration: none;
  color: #7F6DF8;
}



.ticketBooking__mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 1000px;
  height: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.cinema-schedule-section {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  width: 1000px;
}


.movie-schedule-section {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  width: 1000px;
}