.cinema-table-container {
    margin-top: 30px;
}

.add-btn {
    background-color: #7F6DF8;
    margin-bottom: 20px;
}
.action-buttons {
    display: flex;
    gap: 8px;
}

.ant-table-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
