.bookingChair__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5EFFF;
}

.bookingChair__content {
    display: flex;
    gap: 50px;
    box-sizing: border-box;
}

.bookingChair__seatSection {
    width: 550px;
}

.bookingChair__infoSection {
    width: 400px;
}
