/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    margin-top: 80px;
    width: 100%;
}

.footer-logo {
    width: 250px;
}

.footer-logo img {
    width: 250px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col-left {
    margin: 20px 100px 0 100px ;
}

.footer-col-right {
    margin: 40px 100px 0 100px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.footer-tagline {
    font-size: 40px;
    line-height: 150%;
    font-weight: bold;
    color: white;
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-icons-wrapper a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: color 0.3s ease;
}

.social-icons h2 {
    font-size: 25px;
    color: white;
}


.footer-info {
    font-size: 20px;
    font-weight: 200px;
}

.footer .copyright {
    font-size: 0.8rem;
    color: #aaa;
    text-align: center;
    margin-top: 20px;
}