/* Navbar Styles */
.navbar-container {
    width: 100vw;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #fff;
}

.navbar-container img {
    height: 80px;
    margin-left: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #595959;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;

}

.nav-menu a:hover {
    color: #7F6DF8;
}

.auth-buttons {
    display: flex;
    gap: 10px;  
    margin-right: 50px;
}

.btn-nav {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn-login {
    background-color: #7F6DF8;
    color: #fff;
}

.btn-signup {
    background-color: #fff;
    color: #7F6DF8;
    border: 1px solid #7F6DF8;
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: #595959;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: none;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .nav-link::after {
    content: " ▼";
    font-size: 10px;
}